section {
 margin-left: auto;
 margin-right: auto;
 margin-top: 100px;
 border: 5px solid rgba(50, 50, 50, 1);
 width: 360px;
 height: 360px;
 position: relative;
}

pre {
 height: 43px;
 width: 43px;
 border: 1px solid black;
 margin: 0px;
 position: absolute;
}

.black {
 background-color: black;
}
